body{
    background-color: #c90c0c;
    padding: 0;
    margin: 0;
}
.add-user {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.form {
    background-color: white;
    box-shadow: 15px 15px 10px black;
    height: auto;
    padding: 10px;
    
}


.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 4%;
}

#img-logo {
    width: 8vw;
    height: 8vw;
    border-radius: 50% / 50%; 
}

.text-center {
    text-align: center;
}

.primary-color {
    color: black;
}

.form-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.form-group, .detail-connexion, .btn-container {
    width: 90%;
}

.form-input {
    width: 100%;
    padding: 3% 0%;
    border: 2px solid #000000;
    border-radius: 10px;
    margin: 2% 0;
    padding-left: 2%;
}

.form-input::placeholder {
    color: black;
    font-weight: bold;
    font-size: .9rem;
    opacity: .5;
}

label {
    font-size: 1.1rem;
    font-weight: bold;
    color: #000000;
}

.detail-connexion {
    display: flex;
    margin-top: 3%;
    margin-bottom: 4%;
}

.remember {
    width: 50%;
    font-weight: bold;
    font-size: 1.1rem;
}

.forgot {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 1.1rem;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn {
    background-color: red;
    color: white;
    padding: 3% 12%;
    border-radius: 25px;
    border: none;
    font-size: 1.2rem; 
    font-weight: bold; 
    margin: 3% 0;
}

a {
    font-size: 1.1rem; 
    font-weight: bold; 
    margin-top: -2%;
    color: red;
}

#logo{
    width: 80px;
    height: 70px;
}
.topnav {
    background-color: #fff;
    display: flex;
}

.topnav a:hover {
background-color: #ddd;
color: black;
}

.topnav a.active {
background-color: #04AA6D;
color: white;
}

.topnav .icon {
display: none;
}
.title{
    margin-left: auto;
    margin-right: auto;
}