body{
    padding: 0;
    margin: 0;
    border: 2px;
}
.add-user {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.form {
    background-color: white;
    box-shadow: 15px 15px 10px black;
    height: auto;
    padding: 10px;
    
}
thead, th, td {
    border:1px solid black;
  }
  
  
  
  
  
  /* le div parent */
  .container{
      display: flex;
      flex-direction: column;
     }
     /* la partie header */
     .header{
       width: 100%;
      background-color: red;
       height: 50px;
       flex:1;
     
     }
     .header h1{
       color: white;
       margin-left: 30%;
     }
     .deconn{
       margin-left: 87%;
       margin-top: -3.7%;
     }
     .deconn button{
       border-radius: 10px;
       height: 30px;
       font-size: 20px;
     }
     /* la partie du contenu */
     .content{
       border: solid 2px rgb(0, 81, 255);
       margin-top: 50px;
       height: 70vh;
       width: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
     /*   background: white; */
     
     }
     .div-content{
       border: solid 2px rgb(187, 21, 9);
      width: 85%;
      margin-left: 30px;
     }
     .div-nav{
     /*   border: solid 2px rgb(36, 165, 19); */
       width: 15%;
       height: 100%;
       display: flex;
       flex-direction: column;
     }
     /*  .avatar{
       border: solid 2px rgb(36, 165, 19);
       height: 30%;
       display: flex; 
     } */
     .image{
       border: solid 2px rgb(19, 29, 165);
       height: 50%;
       width: 50%;
       border-radius: 50% 50% ;
       margin-top: 20px;
     }
     .text{
       border: solid 2px rgb(19, 29, 165);
       width: 50%;
     }
     nav{
       border: solid 2px rgb(19, 29, 165);
       height: 70%;
     }
     .section1{
       width: 25%;
       height:400px ;
       background:#ccc;
       margin: 3% auto;
     }
       .avatar{
         width: 100%;
         height:150px;
         background: red;
       }
     
     .section2{
       width: 50%;
       height:400px ;
       background:white;
       margin: 3% auto;
       box-shadow: 5px 5px 5px 5px red;
     } 


.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 4%;
}

#img-logo {
    width: 8vw;
    height: 8vw;
    border-radius: 50% / 50%; 
}

.text-center {
    text-align: center;
}

.primary-color {
    color: black;
}

.form-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.form-group, .detail-connexion, .btn-container {
    width: 90%;
}

.form-input {
    width: 100%;
    padding: 3% 0%;
    border: 2px solid #000000;
    border-radius: 10px;
    margin: 2% 0;
    padding-left: 2%;
}

.form-input::placeholder {
    color: black;
    font-weight: bold;
    font-size: .9rem;
    opacity: .5;
}

/*  */

label {
    display: block;
    color: #000000;
}
input[text],
input[password],
 .myselect{
  border: 1px solid #ddd;
  width: 350px;
  padding: 18px;
  border-radius: 5px;
  background-color: transparent;
}

.myGroup{
  padding: 3px;
}
.myGroup.login{
  padding: 7px;
}

.mytextarea{
  border: 1px solid #ddd;
  border-radius: 5px;

}
.groupForm , .crate-admin{
  display: flex;
}
.navbar{
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 350px;
  height: 430px;
  margin: 30px;
}

.avatar{
  background-color: red;
  padding: 0;
}


ul{
  padding: 0;
  margin: 0;
}

li, a{
  text-decoration: none;
  padding: 15px;
  list-style-type: none;
  text-align: left;
  color: #000000;
}
.link{
  color: #000000;
}
/*  */




.detail-connexion {
    display: flex;
    margin-top: 3%;
    margin-bottom: 4%;
}

.remember {
    width: 50%;
    font-weight: bold;
    font-size: 1.1rem;
}

.forgot {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 1.1rem;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn {
    background-color: red;
    color: white;
    padding: 3% 12%;
    border-radius: 25px;
    border: none;
    font-size: 1.2rem; 
    font-weight: bold; 
    margin: 3% 0;
}

a {
    font-size: 1.1rem; 
    font-weight: bold; 
    margin-top: -2%;
    color: red;
}

#logo{
    width: 80px;
    height: 73px;
}
.topnav {
    background-color: red;
    display: flex;
    color: #fff
}

.topnav a:hover {
background-color: #ddd;
color: black;
}

.topnav a.active {
background-color: #04AA6D;
color: white;
}

.topnav .icon {
display: none;
}
.title{
    margin-left: auto;
    margin-right: auto;
}